{{#each movie}}
<section>
  <header class='movie-title'>
    <h1>{{title}}</h1>
  </header>
  <ul>
    <li>{{year}}</li>
    <li>{{actors}}</li>
    <li>{{year}}</li>
    <li>{{rating}}</li>
    <li><button class='deletebtn'>x</button></li>
  </ul>
</section>
{{/each}}