<h1>Movies in Firebase</h1>
{{#each this}}
<section id="{{@key}}">
  <header class='movie-title'>
    <h1>{{Title}} ({{Year}})</h1>
  </header>
  <img src="{{Poster}}">
  <ul>
    <li>{{Actors}}</li>
    <li>{{Plot}}</li>
    <li>{{Rated}}</li>
    <li>{{Runtime}}</li>
  </ul>
  <button class='deleteBtn'>Remove</button>
  <button class='watchedBtn'>Watched</button>
</section>
{{/each}}