{{#each users}}
<section name="{{@key}}">
  <header class='song-title'>
    <h1>{{name}}</h1>
  </header>
  <ul>
    <li>{{age}}</li>
    <li>{{gender}}</li>
    <li>{{skills}}</li>
    <li><button class='deletebtn'>x</button></li>
  </ul>
</section>
{{/each}}